{% extends "base.html" %}
{% block title %}
| Dashboard
{% endblock title %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Dashboard</h1>
          <p class="lead">Manage your AK Real Estate account</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{user | capfirst}}</h2>
          {% if user_contacts %}
          <p>Here are the property listings that you have inquired about</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Property</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for contact in user_contacts  %}
              <tr>
                <td>{{contact.contact_date|date:"M d, Y" }}</td>
                <td>{{contact.listing}}</td>
                <td>
                  <a class="btn btn-light" href="{% url 'listing' contact.listing.id %}">View Listing</a>
                </td>
              </tr>
              
              {% endfor %}
              

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  {% else %}
 <p>You have not made any enquries yet.</p>
  {% endif %}
{% endblock content%}