{% extends "admin/base.html" %}
{% load static %}
{% block branding %}
<h1 id="head">
    <img src="{% static 'img/logo-1.png' %}" 
        class="brand_img" alt="ak reat estate"
        height="50px" width="140px">
                AK REAL ESTATE
</h1>

{% endblock branding %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">

{% endblock extrastyle %}

