#header{
    height: 50px;
    background-color: #5f3328;
    color: white;
}
#head{
    color:white;

}
#branding h1 {
    color: #5df5f0;
}
.module h2, .module caption, .inline-group h2{
    background:#c87979;

}
div.breadcrumbs {
    background:#c87979;

}
