{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Lightbox -->
  <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}"">
  <!-- Custom -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}"">
    <title>Ak Real estate
    {% block title %}
    
    {% endblock title %}
    
    
    </title>
</head>
{% include 'components/_topbar.html' %}
{% include 'components/_navbar.html' %}
<body>
    {% block content %}
    {% endblock %}

    {% include 'components/_footer.html' %}

    <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/main.js' %} "></script>
</body>
</html>