{% if messages%}
{% for message in messages %}
<div class="container" id='message'>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <strong>
        {% if message.level == DEFAULT_MESSAGE_LEVEL.ERROR %}
        ERROR: 
        
        {% else %}
        {{message.tags|title}}
        {% endif %}
        </strong>
        {{message}}
    </div>
</div>

{% endfor %}

{% endif%}